{% extends "base2.html" %}
{%block nav_title%}admin search{%endblock%}

{% block title %}Admin Search{% endblock %}

{% block content %}
<section class="m-3">
    <div class="container">
        <h1>Search</h1>
        <form method="GET" action="{{ url_for('admin_search') }}" class="mb-3">
            <div class="input-group">
                <select class="form-select" name="search_type">
                    <option value="all" {% if search_type=='all' %}selected{% endif %}>All</option>
                    <option value="service" {% if search_type=='service' %}selected{% endif %}>Service</option>
                    <option value="professional" {% if search_type=='professional' %}selected{% endif %}>Professional
                    </option>
                    <option value="service_request" {% if search_type=='service_request' %}selected{% endif %}>Service
                        Request</option>
                </select>
                <input type="text" class="form-control" name="search_term" placeholder="Enter search term"
                    value="{{ search_term }}">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>

        {% if results %}
        {% if search_type == 'service' or search_type == 'all' %}

        <h2>Services</h2>
        <div class="table-responsive">
            <table class="table  table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Service Name</th>
                        <th scope="col">Base Price</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for service in results if service.__class__.__name__ == 'Service' %}
                    <tr>
                        <td><button type="button" class="btn btn-link" data-bs-toggle="modal"
                                data-bs-target="#serviceModal{{service.id}}">{{ service.id }}</button></td>
                        <td>{{ service.service_name }}</td>
                        <td>{{ service.base_price }}</td>
                        <td>
                            <button class="btn btn-primary">Edit</button>
                            <button class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                    <!-- Service Modal -->
                    <div class="modal fade" id="serviceModal{{service.id}}" tabindex="-1"
                        aria-labelledby="serviceModalLabel{{service.id}}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="serviceModalLabel{{service.id}}">Service Details</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p><strong>ID:</strong> {{ service.id }}</p>
                                    <p><strong>Name:</strong> {{ service.service_name }}</p>
                                    <p><strong>Description:</strong> {{ service.description }}</p>
                                    <p><strong>Base Price:</strong> {{ service.base_price }}</p>
                                    <p><strong>Status:</strong> {{ service.status }}</p>


                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        {% if search_type == 'professional' or search_type == 'all' %}
        <h2>Professionals</h2>
        <div class="table-responsive">
            <table class="table  table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Experience (in Yrs.)</th>
                        <th scope="col">Service Name</th>
                        <th scope="col">Approved</th>
                    </tr>
                </thead>
                <tbody>
                    {% for professional in results if professional.__class__.__name__ == 'Professional' %}
                    <tr>
                        <td><button type="button" class="btn btn-link" data-bs-toggle="modal"
                                data-bs-target="#professionalModal{{professional.id}}">{{ professional.id }}</button>
                        </td>
                        <td>{{ professional.fullname }}</td>
                        <td>{{ professional.experience }}</td>
                        <td>{{ professional.service_name }}</td>
                        <td>{{ professional.is_approved }}</td>
                    </tr>
                    <!-- Professional Modal -->
                    <div class="modal fade" id="professionalModal{{professional.id}}" tabindex="-1"
                        aria-labelledby="professionalModalLabel{{professional.id}}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="professionalModalLabel{{professional.id}}">Professional
                                        Details</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p><strong>ID:</strong> {{ professional.id }}</p>
                                    <p><strong>Name:</strong> {{ professional.fullname }}</p>
                                    <p><strong>Experience:</strong> {{ professional.experience }} years</p>
                                    <p><strong>Service:</strong> {{ professional.service_name }}</p>
                                    <p><strong>Address:</strong> {{ professional.address }}</p>
                                    <p><strong>Pincode:</strong> {{ professional.pincode }}</p>
                                    <p><strong>Approved:</strong> {{ professional.is_approved }}</p>

                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        {% if search_type == 'service_request' or search_type == 'all' %}
        <h2>Service Requests</h2>
        <div class="table-responsive">
            <table class="table  table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Assigned Professional</th>
                        <th scope="col">Requested Date</th>
                        <th scope="col">Status</th>
                        <th scope="col">Ratings</th>
                        <th scope="col">Remarks</th>

                    </tr>
                </thead>
                <tbody>
                    {% for request in results if request.__class__.__name__ == 'ServiceRequest' %}
                    <tr>
                        <td>{{ request.id }}</td>
                        <td>{{ request.professional.fullname if request.professional else 'N/A' }}</td>
                        <td>{{ request.date_of_request }}</td>
                        <td>{{ request.service_status }}</td>
                        <td>{{ request.ratings if request.ratings else 'N/A' }}</td>
                        <td>{{ request.remarks if request.remarks else 'N/A' }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        {% elif search_term %}
        <p>No results found for "{{ search_term }}" in {{ search_type }}.</p>
        {% endif %}
    </div>
</section>
{% endblock %}
